*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #ededed;
}

main{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 10% 40% 50%;
    width: 80%;
    margin: auto;
}

nav{
    display: grid;
    grid-template-columns: 60% 10% 10% 10% 10%;
    align-content: center;
}
nav h4{
    font-size: 28px;
}

nav h5{
    text-transform: uppercase;
    justify-self: center;
    align-self: center;
    font-size: 16px;
}

nav h5:hover{
    text-decoration: underline;
}

#info{
    width: 60%;
    font-size: 2vw;
    align-self: center;
}

#work-details #tabs{
    display: flex;
    gap: 16px;
    font-size: 1vw;
    margin-bottom: 1.5em;
}

#work-details #tabs .item{
    padding: 8px;
    border-radius: 18px;
    cursor: pointer;
}

#work-details #tabs .item:hover{
    background-color: #cccccc34;
}

#work-details #tabs .item.active{
    background-color: #ccc;
}

#work-details .image-container{
    display: grid;
    gap: 16px;
    grid-template-columns: 33% 33% 33%;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 8px;
}
#work-details .image-container img{
    width: 100%;
    margin-bottom: 16px;
}

@media (max-width:379px) {
    main{
        grid-template-rows: 10% 25% 50%;
        width: 90%;
    }
    
    nav h5{
       display: none;
    }
    
    #info{
        width: 100%;
        font-size: 4vw;
    }
    
    #work-details #tabs{
        gap: 0;
        font-size: 3vw;
        margin-bottom: 1em;
    }
    
    
    #work-details .image-container{
        grid-template-columns: 100%;
        border-color: transparent;
    }
    #work-details .image-container img{
        width: 100%;
        margin-bottom: 0px;
    }
    
}