* {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
/* html{
    background-color: black;
} */

body {
  background: url("./assets/banner.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100VH;
}

#card {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 320px;
  margin: 15% auto;
}

.container {
  background-color: white;
  padding: 24px;
  border-radius: 16px;
}

.heading {
  font-size: 36px;
  color: hsl(292, 42%, 14%);
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}
.heading::before {
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  background: url("./assets/star.svg");
  background-size: cover;
  background-position: center;
}
.accordian {
  margin-bottom: 24px;
  padding-bottom: 24px;
  box-shadow: 0px 0.5px lightgray;
}
.accordian:last-child {
  box-shadow: none;
}
.ques {
  display: flex;
  padding: 4px;
  /* justify-content: space-between; */
}
.ques:hover {
  background-color: #fbeeff;
  cursor: pointer;
}
.ques .text {
  color: hsl(292, 42%, 14%);
  font-weight: 600;
  flex-basis: 90%;
}

.icon {
  background: url("./assets/plus.svg");
  height: 24px;
  width: 24px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.accordian.active .icon {
  background: url("./assets/minus.svg");
  height: 24px;
  width: 24px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.answer {
  margin-top: 24px;
  display: none;
}

.accordian.active .answer{
    display: block;
}
.answer .answer-text {
  color: hsl(292, 16%, 49%);
  font-size: 12px;
}
@media (min-width: 600px) {
  * {
    font-size: 16px;
  }
  #card {
    max-width: 560px;
  }
}
