* {
  font-family: "Outfit", sans-serif;
  font-size: 14px;
}

h1,
h2 {
  font-family: "Young Serif", serif;
  text-transform: capitalize;
  margin: 0;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
  color: hsl(30, 10%, 34%);
}

body {
  padding: 0;
  margin: 0;
  background-color: hsl(30deg 52% 90.2%);
}

#container {
  background-color: white;
}

#container section {
  margin: 24px;
}
#container #backdrop {
  /* width: 375px; */
  padding: 0;
  margin: 0;
}
#container #backdrop img {
  width: 100%;
}

#container #recipe {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#container #recipe p {
  color: hsl(24, 5%, 18%);
  font-weight: 300;
}

#container #recipe .content {
  background-color: hsl(330, 100%, 98%);
  padding: 8px 16px;
  border-radius: 8px;
}

#container #recipe .content .list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 32px;
}
#container #recipe .content .list li {
  font-weight: 300;
}

#container .ingredients {
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding-bottom: 24px;
}

#container .ingredients .ingredient-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 32px;
}

#container .ingredients .ingredient-list li {
  font-weight: 200;
}

#container #nutrition {
  padding-bottom: 48px;
  margin-bottom: 0;
}
#container #nutrition p {
  font-weight: 200;
}
#container #nutrition .table {
  display: flex;
  flex-direction: column;
}
#container #nutrition .table span {
  display: inline-block;
}
#container #nutrition .table .row {
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding: 12px 0;
  display: flex;
  justify-content: space-around;
}

#container #nutrition .table span.value {
  color: hsl(30, 10%, 34%);
}
#container #nutrition .table span.label {
  font-weight: 200;
}

@media (min-width: 600px) {
    *{
        font-size: 16px;
    }

  #container {
    max-width: 500px;
    padding: 24px;
    margin: 10% auto;
    border-radius: 8px;
  }
  #container section {
    margin: 24px 0;
  }
  #container #backdrop img {
    border-radius: 8px;
  }
}
